<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="gihwan-dev/personal-blog"
  data-repo-id="R_kgDOL63WUQ"
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOL63WUc4Cfihx"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
